.new-post-case {
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 2;
    display: grid;
    margin: 0;
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    justify-content: center;
    align-content: center;
    box-shadow: 1px 1px 4px 3px rgba(46, 87, 72, 0.6);
    background-color: var(--secondary-color);
    padding: 0 0 1rem 0;
    color: var(--borders);

    & span {
        font-size: 3rem;
        color: pink;
    }
}



@media (min-width: 767px) {
    .new-post-case {
        display: none;
    }
}