.home-main-case {
    padding: 0 1rem;
}

.search-icon-case {
    background-color: var(--light-background);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.4rem 1rem;
    border-radius: var(--border-radius);
    margin-top: 1rem;
}

.search-icon-case input {
    padding: 1rem;

    width: 100%;
}

#search-add-icon {
    color: var(--borders);
}

.user-post-main-case {
    /* position: relative; */
    background-color: var(--light-background);
    padding: 1rem;
    margin-top: 1rem;
    display: grid;
}

.user-post {
    display: grid;

    & p {
        text-align: start;
        padding: 0.8rem 0;
    }
}

.like-bookmark-icon {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content;
    gap: 5rem;
    padding: 1rem 0;
}

.like-bookmark-icon div {
    display: grid;
    grid-template-columns: min-content;
    grid-auto-flow: column;
    gap: 0.2rem;

    & p {
        padding: 0;
        align-self: center;
        font-size: 1.5rem;
    }

}

.post-comment-case {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content auto;
    gap: 1rem;

    & img {
        border-radius: 5rem;
        margin: auto;
        height: 3rem;
        width: 3rem;
        border-radius: 5rem;
    }
}

.write-comment-case {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto min-content;
    border-radius: var(--border-radius);
    border: 0.1rem solid var(--borders);
    background-color: transparent;

    & button,
    input {
        outline: none;
        border: none;
        background-color: transparent;
        padding: 0 1rem;
    }

}


.about-user {
    display: grid;
    grid-template-columns: min-content auto 10%;

    & img {
        border-radius: 5rem;
        width: 4rem;
        height: 4rem;
    }

    & div {
        justify-self: start;
        text-align: left;
        margin-left: 1rem;
    }
}

.menu-button {
    border: none;
    outline: none;
    background-color: transparent;
}

.posted-main-image {
    max-width: 100%;
    height: auto;
}

.border {
    border: solid;
}

.comments-of-followers {
    display: flex;
    background-color: var(--secondary-color);
    padding: 1rem 0;
    margin-top: 1rem;
    border-radius: var(--border-radius);
    padding: 1rem 2rem;

    & img {
        height: 3rem;
        width: 3rem;
        border-radius: 5rem;
        display: block;
    }
}

.edit-delete-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 10rem;
    height: 9rem;
    right: 0;
    color: var(--borders);
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    border: 2px solid var(--main-text);
    padding: 0 1rem;


    & button {
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
        height: auto;
        align-items: center;
        cursor: pointer;
        font-size: 1.3rem;

    }

    & button:hover {
        transition: all 0.3s ease;
        font-size: 1.5rem;
        border-radius: var(--border-radius);
    }
}


.edit-delete-parent {
    position: relative;
}

.menu-position {
    position: absolute;
    z-index: 1;

}

.commented-user-info {
    display: flex;
    text-align: left;
    gap: 1rem;

    & p {
        font-size: small;
    }
}


@media (min-width:767px) {
    .home-main-case {
        width: 45%;
        margin: 14rem 20% 0 15%;
    }

    .right-sidebar-container {
        position: fixed;
        padding: 1rem;
        right: 10%;
        width: 20%;
        top: 13rem;
    }


    .left-sidebar-container {
        position: fixed;
        padding: 1rem;
        left: 10%;
        width: 15%;
        top: 13rem;
    }

    .home-case {
        width: 100%;
    }

    .user-post p {
        font-size: medium;
    }
}

@media (min-width:1024px) {
    .edit-delete-menu {
        top: 3%;
        right: 8%;
    }
}