.filter-border {
    border-color: var(--secondary-color);
}

.sort-btn-case {
    padding: 0.5rem 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: stretch;
    gap: 2rem;
    position: sticky;
    top: 11%;
    z-index: 2;

}

.sort-btn-case button {
    border: 2px solid var(--main-text);
    border-radius: var(--border-radius);
    padding: 1rem;
    font-weight: bolder;
    background-color: var(--secondary-color);
    font-size: 1.3rem;
}

@media (min-width:767px) {}