.post-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #1a1a1a88;

    height: 100%;
    width: 100%;

    & hr {
        border-color: var(--main-text);
    }
}


.modal-content {
    display: flex;
    flex-direction: column;
    margin: 20% auto;
    background-color: var(--borders);
    border-radius: var(--border-radius);
    width: 90%;
    padding: 2rem;
    gap: 2rem;
}

.remove-selected-img {
    position: absolute;
    padding: 1px 2px;
    background-color: var(--borders);
    color: var(--main-text);
    border-radius: 2px;
    box-shadow: var(--box-shadow);
}

#user-image-post {
    height: 10rem;
    width: 15rem;
    border-radius: none;
    border: 2px solid currentColor;
    position: relative;

}

/* ------- */
.post-message {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    position: relative;

    & span {
        position: absolute;
        right: 0;
        font-size: 1.5rem;
        cursor: pointer;
        background-color: var(--main-text);
        color: var(--borders);
        padding: 0 0.3rem;
        border-radius: 4rem;
    }

    & img {
        border-radius: 1rem;
    }

    & textarea {
        width: 100%;
        height: 150px;
        font-size: 16px;
        resize: none;
    }
}

.choose-image {
    display: none;
}

#chosen-image {
    display: none;
}

.flex-images {
    display: flex;
    gap: 1.5rem;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & button,
    label {
        padding: 1rem 1.5rem;
        font-size: 1rem;
        border: none;
        outline: none;
        border-radius: var(--border-radius);
        font-weight: bold;
        background-color: var(--main-text);
        border: 2px solid var(--secondary-color);
        cursor: pointer;
    }

    & div {
        display: flex;
        gap: 1.5rem;
    }
}

/* Edit Profile CSS */
#bio-case {
    width: 100%;
    height: 50px;
    font-size: 16px;
    resize: none;
}

/* Profile avatar css */
#avatar-modal-content {
    position: absolute;
    inset: 0;
    top: 10rem;
    width: 50rem;
}

.avatar-img {
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.avatar-case {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-self: center;
}

/* content imoji css */
.emoji-case {
    display: inline-block;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;

}

/******************** media queries *******************/
@media (min-width:767px) {
    .modal-content {
        width: 40%;
        margin: 15% auto;

    }
}