.follow-user img {
    border-radius: 5rem;
    width: 4rem;
    height: 4rem;
    display: block;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.follow-user button {
    background-color: var(--backgrounds);
    border: 1px solid var(--borders);
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    border-radius: var(--border-radius);
    padding: 0.5rem 2rem;
    font-size: 1rem;
    line-height: 1;
    flex-wrap: nowrap;
}

.follow-user {
    background-color: var(--borders);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: white;
    font-family: sans-serif;
    gap: 0.5rem;
    justify-content: space-around;
}

.follow-user-case {
    display: flex;
    padding: 1rem;
    background-color: var(--backgrounds);
    gap: 1rem;
    overflow: auto;
    justify-content: space-between;
}

@media (min-width:767px) {
    .follow-user-case {
        flex-direction: column;

    }
    .follow-user{
        flex-wrap: wrap;
    }
}
