.side-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 2px solid var(--borders);
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
}

.side-item:hover {
    background-color: var(--primary-color);
}

.navbar-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.navbar-links div:last-child{
    background-color: var(--main-text);
}
@media (max-width:767px) {
    .left-sidebar-case {
        display: none;
    }
}
@media (min-width:767px) and (max-width:946px) {
    .side-item h2{
        display: none
    }
    .side-item{
        justify-content: center;
        width: fit-content;
    }
    .navbar-links{
        align-items: center;
    }
    
}

